body {
    background-image: url(../images/circles-light.png);
    background-image:repeat;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 1.6;
}